cloudpickle==2.2.1
contourpy==1.1.1
cycler==0.12.0
Farama-Notifications==0.0.4
filelock==3.12.4
fonttools==4.43.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h5py==3.9.0
importlib-metadata==6.8.0
importlib-resources==6.1.0
Jinja2==3.1.2
kiwisolver==1.4.5
MarkupSafe==2.1.3
matplotlib==3.7.3
mpmath==1.3.0
networkx==3.1
numpy==1.24.4
packaging==23.2
pandas==2.0.3
Pillow==10.0.1
pybullet==3.2.5
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
stable-baselines3==2.1.0
sympy==1.12
torch==2.0.1
typing_extensions==4.8.0
tzdata==2023.3
zipp==3.17.0
